/* 
    <section className="cookieClicker">
      <h2>Cookie Clicker</h2>
      <p>Score: {score}</p>
      <button onClick={() => setScore(score + 1)}>
        <img src="../public/cookie.png" alt="Cartoon Cookie" />
      </button>
    </section>
*/

h2 {
  font-size: 2rem;
}

img {
  width: 200px;
  height: auto;
}
