/*
  return (
    <section className="users">
      <h2>Users</h2>
      <ul>
        {users.map((user, index) => (
          <li key={index}>
            {user.username} ({user.email})
          </li>
        ))}
      </ul>
      <form onSubmit={handleAddUser}>
        <h3>Add new user</h3>
        <input
          type="text"
          placeholder="Username"
          value={username}
          onChange={(e) => setUsername(e.target.value)}
        />
        <input
          type="text"
          placeholder="Email"
          value={email}
          onChange={(e) => setEmail(e.target.value)}
        />
        <button type="submit">Add user</button>
      </form>
    </section>
  );
*/

ul {
  max-width: 550px;
  text-align: left;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  width: 80%;
  border: 1px solid navy;
  max-width: 400px;
}

#userBtn {
  width: 175px;
  background-color: navy;
  color: white;
}
